:root{
  background-color: var(--background-color1);
  font-family:'Courier New', Courier, monospace;
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  align-items: center;
  list-style: none;
  outline: none;
}
