.task__header {
  display: flex;
  padding: 1vh;
  height: 6.5vh;
  background-color: var(--background-color2);
  justify-content: start;
  align-items: center;
  width: 100%;
  position: relative;
}

.task__header__nav {
  display: inline-flex;
  align-items: center;
}

.task__header__nav-item {
  position: relative;
  margin-left: 1vh;
  font-weight: 30px;
  align-items: center;
  text-decoration: none;
  color: var(--color-white);
  transition-duration: var(--transition-duration);

  &:hover {
    transition-duration: var(--transition-duration);
    color: var(--background-color3);
    transform: scale(1.1);
  }
}

.task__header-h1 {
  justify-content: center;
  flex-grow: 1;
  padding-right: 21vh;
  color: var(--color);
  font-family: "Courier New", Courier, monospace;
}

.task__header__logo-link-item {
  color: var(--color-white);
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--background-color3);
    transform: scale(1.1);
    transition-duration: var(--transition-duration);
  }
}

.task__menager {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  min-width: 100%;
}

.task__menager-form {
  min-width: 100%;
}

.task__menager-item-input-item {
  resize: none;
  min-height: 30vh;
  min-width: 50%;
  transition-duration: var(--transition-duration);

  &:hover {
    transition-duration: var(--transition-duration);
    transform: scale(1.05);
  }
}

.task__menager-progress-container-item {
  min-width: 30vh;
}

.task__menager-progress-container-levels {
  display: flex;
  justify-content: center;
  gap: 65px;
}

.task__article-div-textarea {
  resize: none;
  min-height: 50vh;
  min-width: 50%;
  position: static;
  font-family: "SUSE Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  overflow-x: auto;
  transition-duration: var(--transition-duration);

  &:hover {
    transform: scale(1.05);
    transition-duration: var(--transition-duration);
  }
}

.task__footer {
  margin-top: 3vh;
  justify-content: center;
  background-color: var(--background-color2);
}

.task__footer-div {
  display: flex;
  justify-content: center;
  padding: 1.7vh;
  position: relative;
  flex-grow: 3;
}

.task__footer-div-list-info {
  display: inline-flex;
  align-items: center;
}

.task__footer-div-list-item a {
  display: inline-flex;
  padding: 8px;
  transition-duration: var(--transition-duration);
  border-radius: 20px;
  border: 1px var(--background-color2);
  color: var(--color-white);
  text-decoration: none;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px 5px;
    transition-duration: var(--transition-duration);
    background-color: var(--background-color1);
    color: var(--background-color3);
  }
}

button {
  padding: 10px 20px;
  margin-top: 2vh;
  background-color: var(--background-color2);
  border-radius: 5px;
  border-style: none;
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-white);
    padding: 10px 30px;
    background-color: var(--background-color3);
    box-shadow: 0 0 10px 5px;
    transition-duration: var(--transition-duration);
  }
}

@media (width <= 750px) {
  .task__header {
    font-size: 12px;
  }
}
